
* {
    border:      thin dashed;
    box-sizing:  border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body * {
    margin:  0;
    padding: 0;
}

h1 {
    font-size:  175%;
    text-align: center;
}

section {
    background-color: #ababab;
    margin:           5px;
}

.header {
    text-align: right;
}

#firstHeader {
    background-color: #f0a0f0;
}

#secondHeader {
    background-color: #ff0000;
}

#thirdHeader {
    background-color: #f0b020;
}

.content {
    height:   150px;
    overflow: hidden;
}

.content:hover {
    cursor:   ns-resize;
    overflow: auto;
}

section > div > span {
    font-size:     125%;
    font-weight:   bold;
    padding-left:  25px;
    padding-right: 25px;
}

section p {
    margin: 5px;
}
